.nav-menu {
  width: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
.active {
  width: 350px;
}
@media only screen and (max-width: 756px) {
  .active {
    width: 450px;
  }
}

.scrollbar-menu::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-menu::-webkit-scrollbar-track {
  background: #0e3253;
}

/* Handle */
.scrollbar-menu::-webkit-scrollbar-thumb {
  background: #32618d;
  /* border-radius: 10px; */
}
