.login-form-container {
    width: 100%;
    position: absolute;
    top: 0
}

.bg-white {
    width: 34%;
    height: 600px;
    margin-top: 100px;
    margin: 100px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
}

.justify-center {
    text-align: center
}

.web-name {
    font-size: 20px;
    font-weight: 700;
    padding-top: 14px;
    color: #3f77e8
}

.uni-name {
    font-size: 16px;
    font-weight: 500;
    color: #5989eb;
    margin-top: -10px;
}



.text-center {
    text-align: center;
}

.text-red-500 {
    color: red
}